.order-details-header {
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
  padding-block: 1rem;
}

img {
  width: 70px;
  padding-inline-end: 1rem;
}

section {
  margin-block-end: 1rem;
}

.top {
  width: 100%;
  height: 100px;
  background-color: #eee;
  color: #34495e;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  padding: 10px;
  line-height: 2;
}

